{
    "env": {
      "es6": true,
      "node": true,
      "mocha": true
    },
    "extends": ["prettier"],
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "rules": {
      "camelcase": [
        "error",
        {
          "properties": "never"
        }
      ]
    }
  }
  